---
layout: base
title: Weblog
---

<div class="mardown-wrapper">
<figure><div class="img" data-picture data-alt="Lotus Flower">
<div data-src="#{ site.img_base_url }images/2013-07-10-Lotus+Flower-320w.jpg"></div>
<div data-src="#{ site.img_base_url }images/2013-07-10-Lotus+Flower-480w.jpg" data-media="(min-width: 320px)"></div>
<div data-src="#{ site.img_base_url }images/2013-07-10-Lotus+Flower-768w.jpg" data-media="(min-width: 480px)"></div>
<div data-src="#{ site.img_base_url }images/2013-07-10-Lotus+Flower-900w.jpg" data-media="(min-width: 768px)"></div>
<div data-src="#{ site.img_base_url }images/2013-07-10-Lotus+Flower-640w.jpg" data-media="(-webkit-min-device-pixel-ratio: 1.5),(-moz-min-device-pixel-ratio: 1.5),(-o-min-device-pixel-ratio: 3/2)"></div>
<div data-src="#{ site.img_base_url }images/2013-07-10-Lotus+Flower-960w.jpg" data-media="(min-width: 320px) and (-webkit-min-device-pixel-ratio: 1.5),(min-width: 320px) and (-moz-min-device-pixel-ratio: 1.5),(min-width: 320px) and (-o-min-device-pixel-ratio: 3/2)"></div>
<div data-src="#{ site.img_base_url }images/2013-07-10-Lotus+Flower-1536w.jpg" data-media="(min-width: 480px) and (-webkit-min-device-pixel-ratio: 1.5),(min-width: 480px) and (-moz-min-device-pixel-ratio: 1.5),(min-width: 480px) and (-o-min-device-pixel-ratio: 3/2)"></div>
<div data-src="#{ site.img_base_url }images/2013-07-10-Lotus+Flower-1800w.jpg" data-media="(min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5),(min-width: 768px) and (-moz-min-device-pixel-ratio: 1.5),(min-width: 768px) and (-o-min-device-pixel-ratio: 3/2)"></div>
<!-- Fallback content for non-JS browsers. Same img src as the initial, unqualified source element. -->
<noscript>
<img src="#{ site.img_base_url }images/2013-07-10-Lotus+Flower-900w.jpg" alt="Lotus Flower">
</noscript>
</div>
<figcaption>
</a>&nbsp;Lotus Flower
<span class="copyright">&copy;&nbsp;#{ site.author.name.sub " ", "&nbsp;" }</span>
</figcaption>
<div class="metadata">
<i class="icon-camera"></i>
<span class="speed">1/40</span>
<span class="aperture"><i>&#402;</i>/8</span>
<span class="iso">ISO&nbsp;100</span>
<span class="focal-length">45&nbsp;mm</span>
</div>
</figure>
</div>

.row

  .col-md-6
    %h2.text-center Latest Posts
    %ul.list-unstyled
      - site.posts[0,5].each do |post|
        %li
          %a.text-info{:href=>post.url}= post.title
          %span.text-muted.pull-right= post.date.strftime('%B %-d, %Y')
          %p
            #{summarize( html_to_text( post.content ), 30 )}
            %a.text-info{:href=>post.url}
              %i.icon-double-angle-right
    
    %p
      %a.btn.btn-default{ :href=>'/weblog/' } More Posts &raquo;
  .col-md-6.col-sm-12
    %h2.text-center Latest Tweets
    .text-center
      <a class="twitter-timeline" href="https://twitter.com/jmesnil" data-widget-id="388025708489891840">Tweets by @jmesnil</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
