---
layout: page
title: Photos
notitle: true
current: 2
---

%h2
  Portraits
.row
  = partial('portofolio.image.html.haml', :image => {:title => "Marion & Rapha&euml;l", :base => "2014-11-15-JFM07918"})
  = partial('portofolio.image.html.haml', :image => {:title => "Marion", :base => "2013-10-13-Marion"})
  = partial('portofolio.image.html.haml', :image => {:title => "Jonathan", :base => "2014-08-14-Jonathan"})
  = partial('portofolio.image.html.haml', :image => {:title => "Manu", :base => "2014-08-14-Manu"})
  = partial('portofolio.image.html.haml', :image => {:title => "Guitarist at Park Güell, Barcelona", :base => "2013-08-27-Barcelona-97"})
  = partial('portofolio.image.html.haml', :image => {:title => "Marion", :base => "2013-07-09-Bretagne-41"})
  = partial('portofolio.image.html.haml', :image => {:title => "Marion", :base => "2013-05-04-tuscany-866"})
  = partial('portofolio.image.html.haml', :image => {:title => "Wedding", :base => "2014-06-21-mariage-soph-pat-206"})

%h2
  Places
.row
  = partial('portofolio.image.html.haml', :image => {:title => "Firenze", :base => "2013-04-27-Firenze"})
  = partial('portofolio.image.html.haml', :image => {:title => "Cemtary Tree", :base => "2013-03-23-Cemetary-Tree"})
  = partial('portofolio.image.html.haml', :image => {:title => "Annecy", :base => "2013-12-08-Annecy"})
  = partial('portofolio.image.html.haml', :image => {:title => "Tuscany Countryside", :base => "2013-05-03-Tuscany-Countryside"})
  = partial('portofolio.image.html.haml', :image => {:title => "Tremplin des 3 Pucelles", :base => "2014-02-22-Tremplin-des-3-Pucelles"})

%h2
  Food &amp; Drink
.row
  = partial('portofolio.image.html.haml', :image => {:title => "Une Petite Mousse (October 2014)", :base => "2014-12-10-coffret-2014-10"})
  = partial('portofolio.image.html.haml', :image => {:title => "Macarons", :base => "2013-04-15-macaron-31"})
  = partial('portofolio.image.html.haml', :image => {:title => "Macarons", :base => "2014-04-20-macarons"})

%h2
  Misc
.row
  = partial('portofolio.image.html.haml', :image => {:title => "Clocks", :base => "2012-12-27-Clocks"})
  = partial('portofolio.image.html.haml', :image => {:title => "Barcelona", :base => "2013-08-28-Barcelona-192"})
  = partial('portofolio.image.html.haml', :image => {:title => "Car Engine", :base => "2013-05-26-uriage-39"})
