---
layout: page
title : Archive
current: 0
---

- site.archive.each do |year, monthly_archive|
  %h2= year
  - monthly_archive.each do |month, posts|
    %h3= month
    %ul.list-unstyled
      - posts.each do |post|
        %li
          .date= post.date.strftime('%B %d, %Y')
          &nbsp;
          - if post.link
            %a.link{ :href=>post.url }= "#{site.linked_list.link}&nbsp;#{ post.title}"
          - else
            %a{ :href=>post.url }= post.title
